{{#each model as |note|}}
<div class="note-list-item">
  <h3>{{note.id}}</h3>
  <p>{{note.content}}</p>
</div>
{{/each}}
<div class="note-list">
  {{#each model as |note|}}
    {{#link-to 'notes.note' note class="note-list-item"}}
      {{note.id}}
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}
